[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=potters_wheel
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=potters_wheel
Comment=It's a pottery wheel
